{
  "root": true,
  "plugins": ["@typescript-eslint", "jest", "prettier", "header"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "rules": {
    "header/header": ["error", "resources/license.header.js"],
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/strict-boolean-expressions": [
      "error",
      {
        "allowNullableObject": true,
        "allowNullableBoolean": true,
        "allowAny": true,
      },
    ],
    "@typescript-eslint/no-unused-vars": "error",
  },
}
