services:
  arlocal:
    image: textury/arlocal:v1.1.66
    ports:
      - '1984:1984'

  arlocal-setup:
    image: curlimages/curl:latest
    command: /bin/sh -c "while ! curl -f http://arlocal:1984/ >/dev/null 2>&1; do sleep 1; done; curl http://arlocal:1984/mine"
    depends_on:
      - arlocal

  arns-service:
    image: ghcr.io/ar-io/arns-service:latest
    ports:
      - '3000:3000'
    environment:
      - LOG_LEVEL=error
      - GATEWAY_HOST=arlocal
      - GATEWAY_PORT=1984
      - GATEWAY_PROTOCOL=http
      - PREFETCH_CONTRACTS=false
      - BOOTSTRAP_CONTRACTS=false
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/healthcheck']
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - arlocal
      - arlocal-setup
