name: Release

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
      - alpha

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.CI_GITHUB_TOKEN }}
          fetch-depth: 0 # full history
          fetch-tags: true

      - name: Set Up node
        uses: actions/setup-node@v4
        with:
          cache: "yarn"
          node-version-file: .nvmrc

      - name: Install dependencies
        run: yarn --immutable --immutable-cache

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts
          path: .

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        run: yarn semantic-release
